*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background-color: #F5F5DC;
}


a{
 text-decoration: none;   
}

a:hover{
 text-decoration: underline;
}

a:visited{
    text-decoration: none;
   color:white;
}

a:hover{
    text-decoration: none;
      font-style:normal;  
}


header{
    text-align: center;
}

h1 {
    font-size: 7rem; 
    margin-bottom: 20px;
    background-color: #333323;
    color:white;
}

header p{
    font-size: 2em;
    margin-bottom: 20px;
}

.portrait{
    text-align: center;
}

figcaption{
    padding:0 10%;
}
.portrait {
    width: 40%;
    margin:auto;    
    padding: 1%;
    font-size: 1rem;
}

.credit{
    color: #3d423f;
    font-size: 0.8em;
}
.portrait img{
    max-width: 80%;
    box-shadow: 0 0.6rem 3.5rem rgba(0, 0, 0, 0.75);
}

.card-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}



.card img{
    width: 80%;
    margin-bottom: 15px;
}

.card figure{
    padding-bottom: 20px;
}

h2{
    margin: 30px auto 20px;
    width: 37%;
    text-align: center;
    border-bottom: 3px solid black;
    font-style: strong;
    text-transform: uppercase;
    padding-bottom: 10px;
}


.card h3{
    color:white;
    margin-bottom: 20px;
}



.card{
    text-align: center ;
    margin: 20px;
    max-width: 30%;  
    background: black;
    border-radius: 3%;
    box-shadow: 0 0 3rem  rgba(0, 0, 0, 0.75);
    padding: 10px;
    
}


.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.timeline{
    width: 80%;
    margin: auto;
    margin-bottom: 40px;
}

.card-img{
    width: 80%;
}

.timeline li{
    line-height: 2em;
}



footer p{

    display: block;
    color: white;

    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform:uppercase;



}

footer {
background-color: black;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center
        
}
